
.footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  font-size: 15px;
  height: 10vh;

}

.smm {
  margin-top: 10px;

}

.footer i {
  color: #48dbfb;
}

.smm a {
  padding: 10px;
}

.smm a:hover {
  border-left: 1px #ffffff solid;
  border-right: 1px #ffffff solid;

}

.copyright {
  color: blue;
}